// создаем переменные, содержащие популярные размеры экранов
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
@mixin sm {
    @media (max-width: #{$sm}) {
        @content;
    }
 }

 @mixin md {
    @media (max-width: #{$md}) {
        @content;
    }
 }
 @mixin lg {
    @media (max-width: #{$lg}) {
        @content;
    }
 }
 @mixin xl {
    @media (max-width: #{$xl}) {
        @content;
    }
 }
 @mixin xxl {
    @media (max-width: #{$xxl}) {
        @content;
    }
 }